<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> SIRI CASCUDO </title>

	<link rel="stylesheet" href="estilo.css">
	<!--Link Página de Estilo-->

	<link rel="icon" href="img/logosite.png">
	<!--Favicon Página-->

	<!-- CSS only -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<!--FontAwsome-->
	<link rel="stylesheet" href="fontawesome/css/all.css">
	<script src="https://kit.fontawesome.com/8923ff4866.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="cardap.css">
	<!--Link Página de Estilo-->

</head>

<body>

	<header id="cabecalho" class="bg-dark">

		<nav id="nav-cabecalho" class="navbar navbar-expand-sm navbar-light">
			<div class="container">
				<a href="index.html" class="navbar-brand">
					<img src="img/logosite.png" width="55" height="71">
				</a>


				<button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="nav-principal">
					<ul class="navbar-nav ml-auto">

						<p class="text-white" th:text="${mensagem}"></p>

						<li>
							<form class="formBotao" action="home" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Home</button>
							</form>
						</li>

						<li>
							<form action="cardapio" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Cardápio</button>
							</form>
						</li>
						<li>
							<form action="pedido" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Reservar</button>
							</form>
						</li>
						<li>
							<form action="sobre" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Sobre</button>
							</form>
						</li>
						<li>
							<form action="contato" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Contato</button>
							</form>
						</li>
						<li>
							<a href="index.html"><button class="btn btn-outline-light bnt-sm">Sair</button></a>
						</li>
					</ul>

				</div>

			</div>
		</nav>

	</header>
	<!--Fim Cabeçalho-->

	<div class="content" id="card">
		<div class="height-nav"></div>
		<div id="cardap" class="container">

			<ul class="cardapio">
				<li>
					<h2 th:text="${mensagem1}"></h2>
					<img src="img/img/hb1_resized.jpg" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem2}"></p>
					<p class="item_preco" th:text="${mensagem3}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem4}"></h2>
					<img src="img/img/hb2_resized.jpg" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem5}"></p>
					<p class="item_preco" th:text="${mensagem6}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem7}"></h2>
					<img src="img/img/Hb3_resized.jpg" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem8}"></p>
					<p class="item_preco" th:text="${mensagem9}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem10}"></h2>
					<img src="img/img/trick.png" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem11}"></p>
					<p class="item_preco" th:text="${mensagem12}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem13}"></h2>
					<img src="img/img/kids.png" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem14}"></p>
					<p class="item_preco" th:text="${mensagem15}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem16}"></h2>
					<img src="img/img/batata.png" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem17}"></p>
					<p class="item_preco" th:text="${mensagem18}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem19}"></h2>
					<img src="img/img/coquinha.png" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem20}"></p>
					<p class="item_preco" th:text="${mensagem21}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem22}"></h2>
					<img src="img/img/suquinho.png" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem23}"></p>
					<p class="item_preco" th:text="${mensagem24}"></br></p>

				</li>
				<li>
					<h2 th:text="${mensagem25}"></h2>
					<img src="img/img/milkzinho.png" class="img_cardapio">
					<p class="item_preco" th:text="${mensagem26}"></p>
					<p class="item_preco" th:text="${mensagem27}"></br></p>

				</li>

			</ul>

		</div>
	</div>

	<footer footer style="position:fixed; bottom:0; width:100%;" id="rodape">

		<div id="caixa-rodape">
			<div class="container">
				<h6 id="">
					&copy;Copyright - Direitos Reservados por Siri Cascudo™ - 2022
				</h6>
				<img src="img/logosite.png" width="55" height="71">

			</div>

		</div>


	</footer>


</body>

</html>