<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title> SIRI CASCUDO </title>

    <link rel="stylesheet" href="estilo.css"><!--Link Página de Estilo-->
    <link rel="stylesheet" href="stylecont.css"><!--Link Página de Estilo-->
    <link rel="icon" href="img/logosite.png"><!--Favicon Página-->

    <!-- CSS only -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--FontAwsome-->
    <link rel="stylesheet" href="fontawesome/css/all.css">


</head>

<body>
 
    <header id="cabecalho" class="bg-dark"><!--Início Cabeçalho-->

        <nav id="nav-cabecalho" class="navbar navbar-expand-sm navbar-light">
            <div class="container">
              <a href="index.html" class="navbar-brand">
                <img src="img/logosite.png" width="55" height="71">
              </a>
     
     
              <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                <span class="navbar-toggler-icon"></span>
              </button>
     
              <div class="collapse navbar-collapse" id="nav-principal">
               <ul class="navbar-nav ml-auto">

						<p class="text-white" th:text="${mensagem}"></p>

						<li>
							<form class="formBotao" action="home" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Home</button>
							</form>
						</li>

						<li>
							<form action="cardapio" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Cardápio</button>
							</form>
						</li>
						<li>
							<form action="pedido" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Reservar</button>
							</form>
						</li>
						<li>
							<form action="sobre" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Sobre</button>
							</form>
						</li>
						<li>
							<form action="contato" method="get">
								<button class="bg-dark btn text-white btn-sm" type="submit">Contato</button>
							</form>
						</li>
						<li>
							<a href="index.html"><button class="btn btn-outline-light bnt-sm">Sair</button></a>
						</li>
					</ul>
                
              </div>
     
            </div> 
           </nav>
        
    </header><!--Fim Cabeçalho-->

    <div class="content" id="perfil"> 
      <div class="height-nav"></div>

      <div class="box">
          <form action="">
              <fieldset>
                  <legend><b>Fórmulário para contato</b></legend>
                  <br>
                  <div class="inputBox">
                      <input type="text" name="nome" id="nome" class="inputUser" required>
                      <label for="nome" class="labelInput">Nome completo</label>
                  </div>
                  <br><br>
                  <div class="inputBox">
                      <input type="text" name="email" id="email" class="inputUser" required>
                      <label for="email" class="labelInput">Email</label>
                  </div>
                  <br><br>
                  <div class="inputBox">
                      <input type="tel" name="telefone" id="telefone" class="inputUser" required>
                      <label for="telefone" class="labelInput">Telefone</label>
                  </div>
                  <br><br>
                  <label for="data_nascimento"><b>Data de Nascimento:</b></label>
                  <input type="date" name="data_nascimento" id="data_nascimento" required>
                  <br><br><br>
                  <div class="inputBox">
                      <input type="text" name="cidade" id="cidade" class="inputUser" required>
                      <label for="cidade" class="labelInput">Cidade</label>
                  </div>
                  <br><br>
                  <div class="inputBox">
                      <input type="text" name="estado" id="estado" class="inputUser" required>
                      <label for="estado" class="labelInput">Estado</label>
                  </div>
                  <br><br>
                  <div class="inputBox">
                      <input type="text" name="endereco" id="endereco" class="inputUser" required>
                      <label for="endereco" class="labelInput">Endereço</label>
                  </div>
                  <br><br>
                  <div class="inputBox">
                      <textarea style="resize: vertical" type="text" name="comentario" id="comentario" class="inputUser" required></textarea>
                      <label for="comentario" class="labelInput">Comentário</label>
                  </div>
                  <br><br>
                  <input type="submit" name="submit" id="submit">
              </fieldset>
          </form>
          <style>
            
          </style>
  </div>



</body>
</html>