<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulário de Inscrição</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p th:text="${mensagem1}" id="aviso"></p>
        </div>
        <div> <a href="banco">Consultar inscrito no banco</a><br> </div>
        <div> <a href="bancoM">Consultar inscrito no banco Mongo</a><br>
        </div>
    </body>
</html>
