<html>

<head>
	<title>Spring com banco e form</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<form action="fazerLogin" method="get">
		<div class="imgcontainer">
			<img src="imagens/itsame.png" alt="Avatar" class="avatar">
		</div>

		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" id="uname" name="uname" required>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" id="psw" name="psw" required>

			<button type="submit" value="loginCadastro">Login</button>
			<label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			</label>
			<p th:text="${mensagem}" id="aviso"></p>
		</div>

		<div class="container" style="background-color:#f1f1f1">
			<button type="button" class="cancelbtn">Cancel</button>
			<span class="psw">Forgot <a href="#">password?</a></span>
		</div>
	</form>>
</body>

</html>